In [2]:
import pandas as pd

In [3]:
df_20_23 = pd.read_parquet('data/Nuevos/COVID19MEXICO20_23.parquet')

In [5]:
df_24_25 = pd.read_csv('./data/Originales/COVID19MEXICO24-25.csv')

In [6]:
df_24_25 = df_24_25[['FECHA_ACTUALIZACION', 'ID_REGISTRO', 'SEXO', 'ENTIDAD_RES', 'MUNICIPIO_RES', 'TIPO_PACIENTE',
       'FECHA_INGRESO', 'FECHA_SINTOMAS', 'FECHA_DEF', 'INTUBADO', 'NEUMONIA',
       'EDAD', 'EMBARAZO', 'INDIGENA',
       'DIABETES', 'EPOC', 'ASMA', 'INMUSUPR', 'HIPERTENSION',
       'CARDIOVASCULAR', 'OBESIDAD', 'RENAL_CRONICA', 'TABAQUISMO','CLASIFICACION_FINAL_COVID', 'UCI']]

In [7]:
df_total = pd.concat([df_20_23, df_24_25], ignore_index=True)

In [8]:
df_total['DEF'] = df_total['FECHA_DEF'].apply(lambda x: 1 if x != '9999-99-99' else 0)

In [9]:
df_total["FECHA_ACTUALIZACION"] = pd.to_datetime(df_total["FECHA_ACTUALIZACION"])
df_total["FECHA_INGRESO"] = pd.to_datetime(df_total["FECHA_INGRESO"])
df_total["FECHA_SINTOMAS"] = pd.to_datetime(df_total["FECHA_SINTOMAS"])

In [10]:
df_total["FECHA_DEF"].replace({'9999-99-99': None}, inplace=True)
df_total["FECHA_DEF"] = pd.to_datetime(df_total["FECHA_DEF"])

In [ ]:
# Eliminar duplicados manteniendo el registro con la fecha de actualización más reciente
df_limpio_total = df_total.sort_values('FECHA_ACTUALIZACION', ascending=False).drop_duplicates('ID_REGISTRO')

,FECHA_ACTUALIZACION,ID_REGISTRO,SEXO,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,...,ASMA,INMUSUPR,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,CLASIFICACION_FINAL_COVID,UCI,DEF
20675489,2025-03-11,g8561e7,1,15,33,2,2024-11-29,2024-11-29,NaT,1,...,2,2,2,2,2,2,2,7,2,0
20528826,2025-03-11,gd01eaa,2,9,7,1,2024-01-24,2024-01-24,NaT,97,...,2,2,2,2,2,2,2,3,97,0
20528824,2025-03-11,g6666e3,1,9,12,1,2024-01-25,2024-01-23,NaT,97,...,2,2,2,2,2,2,2,6,97,0
20528823,2025-03-11,gbbbb9b,1,13,77,1,2024-01-24,2024-01-21,NaT,97,...,2,2,2,2,2,2,2,6,97,0
20528822,2025-03-11,gbf2911,2,5,35,1,2024-01-25,2024-01-24,NaT,97,...,2,2,2,2,2,2,2,6,97,0

In [15]:
df_limpio_total.to_parquet('./data/Nuevos/COVID19MEXICO20_25.parquet')